.letter {
  width: 50px;
  height: 50px;
  font-size: 32px;
  font-weight: 700;
  background-color: inherit;
  color: inherit;
  border: solid 2px rgb(195, 195, 195);
  display: inline-block;
  margin: 3px 3px;
  text-align: center;
  vertical-align: top;
}

.active {
  border: solid 2px black;
}

.starter {
  background-color: rgb(195, 195, 195);
}

.gg {
  background-color: rgb(130, 203, 130);
  border-color: rgb(130, 203, 130);
}

@media (max-width: 275px) {
  .letter {
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 600;
  }
}

@media (max-width: 200px) {
  .letter {
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 600;
  }
}